<div class = "contents">
  <div class = "contents-box">
    <p class="welcome">ようこそMusicサイト</p>
    <% if user_signed_in? %>
      <span><%= current_user.name%>
      <a href="/users/<%= current_user.id %>">マイページ</a>
        <%= link_to "ログアウト", destroy_user_session_path, class: "login" , method: :delete %>
         <a class="post" href="/top/new">投稿する</a>
        </span>
      <% else %>
      <%= link_to "ログイン",  new_user_session_path, class: "login" , method: :get %><!-- ログイン画面に移行する -->
      <%= link_to "新規登録", new_user_registration_path, class: "login" , method: :get %> <!-- 新規登録画面に移行する --> 
    <% end %>
    
  <% @comments.each do |comment|%>
    <div class="contents_low">
    <% if user_signed_in? && current_user.id == comment.user_id %>
        <%= link_to '削除',  "/top/#{comment.id}", class: "login3",  method: :delete  %>
        <%= link_to '編集', "/top/#{comment.id}/edit", method: :get  %>
        <%= link_to '詳細', "/top/#{comment.id}", method: :get  %>
      <% end %>
      <span class="comment_name"><%= comment.name %></span>
      <div class= "comment_post" style="background-image: url(<%= comment.image %>);" >
       <p class="comment_text"><%= comment.text %></p></div>
      </div>
    <% end %> 
  <%= paginate(@comments) %>
</div>
</div>

