<div class = "contents">  
  <div class="comment_edit_title">コメント編集ページ</div>
  <div class= "comment_post" style="background-image: url(<%= @comment.image %>);" >
    <% if user_signed_in? && current_user.id == @comment.user_id %>
      <div class="more">
        <span><img src ="/assets/arrow_top-4763537352ebf95dfc22270db55f9aa7798af326400039b6c27cc63b23ea2765.png"></span>
          <ul class="more_list">
          <li>
            <%= link_to '編集', "/top/#{@comment.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to '削除', "/top/#{@comment.id}", method: :delete %>
          </li>   
        <% end %>
      </ul>
    <p class= "comment_shousai"><%= @comment.text %>
    <a href="/users/<%= current_user.id %>", class="comment_user">
      <span>投稿者  <%= @comment.user.name %></a></span></p>
  </div>

    <div class="name">
      <% if current_user %>
      <%= form_tag("/top/#{@comment.id}/messages", method: :post) do %>
      <textarea cols="30" name="text" placeholder="コメントする" rows="2" class="comment_edit_box"></textarea>
        <input type="submit" value="送信する" class="submit">
      <% end %>
    <% end %>
    <div class="comments">   
      <h4>＜コメント一覧＞</h4>
      <% if @messages %>
        <% @messages.each do |message| %>
          <ul>
            <li><p>
              <strong><%= link_to message.user.name, "/users/#{message.user_id}" %>：</strong>
              <%= message.text %>
            </p></li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>